﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Администратор - Вход</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br>
        <br>
        @if (ViewBag.LoginErrorMessage != null)
        {
            <div class="bs-docs-section">
                <div class="bs-component">
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Ошибка входа</h4>
                        <p>@ViewBag.LoginErrorMessage</p>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" placeholder="Имя" name="loginName">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="password" placeholder="Пароль" name="loginPassword">
                    </div>
                    <input type="hidden" name="admin" value="1">
                    <input type="submit" class="btn btn-primary center-block" value="Войти">
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>
</html>
