﻿@model Kirov.Models.OrdersViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Все заказы</h2>
<div class="bs-component">
    <table class="table table-bordered table-striped table-hover ">
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Cтатус</th>
                <th>Стоимость</th>
                <th>Имя</th>
                <th>E-mail</th>
                <th>Дата</th>
                <th>Ширина</th>
                <th>Изображение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Kirov.Data.Order or in Model.Orders)
            {
                <tr>
                    <td>@or.Id</td>

                    <td>
                        <form method="post" action="/Admin/UpdateOrderStatus">
                            <input type="hidden" name="id" value="@or.Id">

                            <select class="form-control" name="newStatus">
                                <option value="@or.Status" selected>@or.Status</option>

                                @for (int i = 0; i < 4; i++)
                                {
                                    if (i != or.Status)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }

                            </select>

                            <button type="submit" class="btn btn-danger btn-xs">Обновить</button>
                        </form>
                    </td>

                    <td>
                        <form method="post" action="/Admin/UpdateOrderPrice">
                            <input type="hidden" name="id" value="@or.Id">

                            <input type="number" name="newPrice" value="@or.Price">

                            <button type="submit" class="btn btn-danger btn-xs">Обновить</button>
                        </form>
                    </td>

                    <td>@or.Name</td>
                    <td>@or.Email</td>
                    <td>@or.TimeCreated</td>
                    <td>@or.Width</td>

                    @{
                        var base64 = Convert.ToBase64String(or.ImageData);
                        var imgSrc = String.Format("data:" + or.ImageMimeType + ";base64,{0}", base64);
                    }

                    <td><a target="_blank" href="/Admin/GetImageForOrderWithId?id=@or.Id"><img src="@imgSrc" width="64" height="64" /></a></td>

                </tr>
            }
        </tbody>
    </table>
</div>