﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Alert != null)
{
    if (ViewBag.Alert == "Success")
    {
        <div class="container">
            <div class="alert alert-success" role="alert">Спасибо за ваш заказ!<br>Мы пришлем вам эскиз в ближайшее время :)</div>
        </div>
    }
    else if (ViewBag.Alert == "Failure")
    {
        <div class="container">
            <div class="alert alert-danger" role="alert"><b>ВНИМАНИЕ!</b> Ошибка при оформлении заказа.<br>Чтобы мы смогли принять заказ, пожалуйста, перейдите в раздел Контакты и свяжитесь с нами любым удобным способом</div>
        </div>
    }
    else if (ViewBag.Alert == "RecapchaFailure")
    {
        <div class="container">
            <div class="alert alert-danger" role="alert"><b>ВНИМАНИЕ!</b> Ошибка при оформлении заказа.<br>Пожалуйста, поставьте флажок "Я не робот" и повторите отправку заказа</div>
        </div>
    }
}

<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44210564 = new Ya.Metrika({
                    id:44210564,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44210564" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="/img/slide-1.jpg" alt="">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Создание неповторимого
                <strong>шедевра</strong>
            </h2>
            <hr>
            <p>Ваши работы на канве должны быть уникальными и неповторимыми. Пришлите нам любое изображение или фото, и мы подготовим для вас набор для вышивания с цветной схемой, канвой, мулине, иглой и всем необходимым. Вот что для этого потребуется:</p>
            <p>1. Прислать нам фото и параметры заказа путем заполнения формы на этой странице.</p>
            <p>2. Дождаться эскиза, подтвердить и оплатить заказ.</p>
            <p>3. Получить заказ и вышить работу.</p>
        </div>
    </div>
</div>

<div class="row" id="SubmitOrder">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Оформление
                <strong>заказа</strong>
            </h2>
            <hr>
            <p>После получения вашей заявки, мы сделаем эскиз будущей вышивки и отправим его вам для подтверждения.</p>
            <br>
            <form action="/Home/NewOrder" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Имя</label>
                        <input type="text" name="Name" class="form-control" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Email</label>
                        <input type="email" name="Email" class="form-control" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Убедитесь, что размер фото не превышает 30Мб</label>
                        <input accept="image/*" name="File" type="file" class="form-control" required>
                    </div>
                    <div class="form-group col-lg-6">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><span id="ex6CurrentSliderValLabel">Ширина вышивки(пропорции сохраняются): <span id="ex6SliderVal">30 см</span></span></label>
                        <br>
                        <input id="ex6" name="Width" type="text" data-slider-min="15" data-slider-max="100" data-slider-step="1" data-slider-value="30" />
                    </div>
                    <div class="form-group col-lg-6">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Комментарии</label>
                        <textarea class="form-control" name="Comments" rows="6"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-12">
                        <input type="checkbox" required>
                        <label>Я даю согласие на обработку моих 
                            <a href="#" data-toggle="modal" data-target="#modalPersonalDataInfo">персональных данных</a>
                        </label>
                    </div>
                </div>

                <div class="g-recaptcha" data-sitekey="6LfsGR0UAAAAAF-UIQNIbEbTulliYwc4dH1_X8z4"></div>
                <br>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn btn-default">Отправить заказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row" id="Prices">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Цены</strong> на готовые наборы
            </h2>
            <hr>
            <p>Цена готового набора на основе вашего изображения рассчитывается на основе желаемого размера вышивки:</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>До 15*15см</th>
                        <th>До 22*22см</th>
                        <th>До 30*30см</th>
                        <th>До 37*37см</th>
                        <th>До 45*45см</th>
                        <th>От 45*45см и более</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>990р.</td>
                        <td>1490р.</td>
                        <td>1990р.</td>
                        <td>2490р.</td>
                        <td>2990р.</td>
                        <td>3990р.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row" id="Delivery">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Доставка</strong> и оплата
            </h2>
            <hr>
            <p>Доставка по Нижнему Новгороду - бесплатно!</p>
            <p>Доставка по всей России осуществляется траспортными компаниями или Почтой России на выбор покупателя.</p>
        </div>
    </div>
</div>

<div class="row" id="Contacts">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Контакты</strong>
            </h2>
            <hr>
            <p style="text-align: center">Россия, Нижний Новгород</p>
            <p style="text-align: center">Электронная почта: shop@impressions-shop.ru</p>
            <p style="text-align: center">Группа VK: <a target="_blank" href="https://vk.com/impressions_shop">vk.com/impressions_shop</a></p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPersonalDataInfo" tabindex="-1" role="dialog" aria-labelledby="modalPersonalDataInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Обработка персональных данных</h5>
            </div>
            <div class="modal-body">
                <p>
                    Я, согласно Федеральному закону от 27.07.2006 № 152 - ФЗ «О персональных данных» своей волей и в своих интересах, добровольно даю Индивидуальному Предпринимателю Домнину Алексею Алексеевичу (далее - Исполнитель) свое согласие на обработку моих персональных данных (фамилия, имя, отчество, адрес электронной почты и иной любой информации, предоставленной Исполнителю) в целях оформления заказа на изготовление индивидуального набора для вышивки, информирования о статусе заказа, а также, доставки товара.
                </p>
                <p>
                    Согласие на обработку персональных данных дается на осуществление Исполнителю в отношении моих персональных данных любых действий (сбор, запись, систематизацию, накопление, хранение, уточнение, обновление, изменение, извлечение, использование, передачу, предоставление, доступ, обезличивание, блокирование, удаление, уничтожение) как с использованием средств автоматизации, так и без использования таких средств в информационных системах и вне этих систем.
                </p>
                <p>
                    Согласие предоставляется бессрочно.
                </p>
</div>
        </div>
    </div>
</div>

<!-- Bootstrap Slider JavaScript -->
<script src="/js/bootstrap-slider.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

    // Slider handler
    var slider = new Slider("#ex6");
    slider.on("slide", function (sliderValue) {
        document.getElementById("ex6SliderVal").textContent = sliderValue + " см";
    });
</script>