﻿@model Kirov.Models.PaymentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Order != null)
{
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Оплата
                    <strong>заказа</strong>
                </h2>
                <hr>

                <p>Спасибо за ваш заказ! Номер заказа - "@Model.Order.Id", стоимость - @Model.Order.Price р.</p>
                <p>Вы можете оплатить его любым удобным для вас способом. Мы используем сервис Яндекс.Касса для исполнения ваших платежей.</p>
                <br>

                <form action="https://money.yandex.ru/eshop.xml" method="post">

                    <input name="shopId" value="137883" type="hidden" />
                    <input name="scid" value="99757" type="hidden" />

                    <input name="sum" value="@Model.Order.Price" type="hidden">

                    <input name="customerNumber" value="@Model.Order.Email" type="hidden" />
                    <input name="paymentType" value="" type="hidden" />
                    <input name="orderNumber" value="@Model.Order.Id" type="hidden" />
                    <input type="submit" value="Перейти к оплате" />
                </form>

            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="alert alert-warning" role="alert">Произошла какая-то ошибка...<br>Чтобы оплатить ваш заказ, пожалуйста, перейдите в раздел Контакты и свяжитесь с нами любым удобным способом</div>
    </div>
}

